<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.festlib.repository.FestRepository">

    <select id="getBoardList" resultType="com.study.festlib.domain.Festival">
        SELECT
        *
        FROM board
        WHERE FESTA_ID = #{FESTA_ID};
    </select>

</mapper>