<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.festlib.repository.FestRepository">

    <select id="selectOneFest" parameterType="String" resultType="com.study.festlib.domain.Festival">
        SELECT FESTA_ID, FESTA_YEAR, FESTA_NAME, FESTA_ADDR, FESTA_DATE, FESTA_CELEB
        FROM FESTIVAL
        WHERE FESTA_ID = #{FESTA_ID}
    </select>

    <select id="selectFestivals" resultType="com.study.festlib.domain.Festival">
        SELECT FESTA_ID, FESTA_YEAR
        FROM FESTIVAL
    </select>
</mapper>