<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.festlib.repository.FestRepository">

    <select id="selectOneFest" parameterType="String" resultType="com.study.festlib.domain.Festival">
        SELECT FESTA_ID, FESTA_YEAR, FESTA_NAME, FESTA_ADDR, FESTA_DATE, FESTA_CELEB
        FROM FESTIVAL
        WHERE FESTA_ID = #{FESTA_ID}
    </select>


    <insert id="insertFestival" parameterType="com.study.festlib.domain.Festival">
        INSERT INTO FESTIVAL (FESTA_ID, FESTA_YEAR, FESTA_NAME, FESTA_ADDR, FESTA_DATE, FESTA_CELEB, FESTA_TICKET_DATE, FESTA_TICKET_ADDR)
        VALUES(#{FESTA_ID}, #{FESTA_YEAR}, #{FESTA_NAME}, #{FESTA_ADDR, jdbcType=VARCHAR},
        #{FESTA_DATE, jdbcType=VARCHAR}, #{FESTA_CELEB, jdbcType=VARCHAR}, #{FESTA_TICKET_DATE, jdbcType=VARCHAR}, #{FESTA_TICKET_ADDR, jdbcType=VARCHAR})
    </insert>

    <select id="selectFestList" resultType="com.study.festlib.domain.Festival">
        SELECT *
        FROM FESTIVAL
        WHERE FESTA_LEVEL = 1
    </select>

    <select id="selectReqFestList" resultType="com.study.festlib.domain.Festival">
        SELECT *
        FROM FESTIVAL
        WHERE FESTA_LEVEL = 0
    </select>
    
    <update id="updateFestival" parameterType="com.study.festlib.domain.Festival">
        UPDATE FESTIVAL
        SET
        FESTA_YEAR=#{FESTA_YEAR}, FESTA_NAME=#{FESTA_NAME}, FESTA_ADDR=#{FESTA_ADDR}, FESTA_DATE=#{FESTA_DATE},
        FESTA_CELEB=#{FESTA_CELEB}, FESTA_TICKET_DATE=#{FESTA_TICKET_DATE}, FESTA_TICKET_ADDR=#{FESTA_TICKET_ADDR}
        WHERE FESTA_ID=#{FESTA_ID}
    </update>

    <update id="updateFestivalReg" parameterType="String">
        UPDATE FESTIVAL
        SET
        FESTA_LEVEL = 1
        WHERE FESTA_ID=#{FESTA_ID}
    </update>
</mapper>